* {
  margin: 0;
  padding: 0;

  text-decoration: none;
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}

.heading {
  margin: 0 auto;
  padding: 10px 5px;
  font-size: 16px;
  background-color: #cff7f3;
  color: #3640fc;
  height: 100%;
  text-align: center;
}

.btn {
  display: inline;
  border: #3640fc;
  background-color: #3640fc;
  color: white;
  padding: 2px 2px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

.phone {
  display: block;
  float: right;
  margin: 5px 20px 0 0;
  font-weight: bold;
  color: #3640fc;
}

.logo {
  float: left;
  margin: 10px 10px;
  width: 120px;
  height: 40px;
  background-image: url(img/ecfileR.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}

.header ul a {
  display: block;
  padding: 20px;

  border-right: 1px solid #aaa;
  cursor: pointer;
  transition: 0.1s ease-out;
  color: #3640fc;
}

.header ul a:hover {
  background-color: #f4fcbe;
  color: red;
}

.header ul :active {
  background-color: #f4fcbe;
  color: red;
}
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.header .menu-icon {
  padding: 20px 20px;
  position: relative;
  float: right;
  cursor: pointer;
  margin: 10px 20px;
}

.header .menu-icon .nav-icon {
  background: #666;
  display: block;
  height: 3px;
  width: 20px;
  position: relative;
}

.header .menu-icon .nav-icon:before {
  background: #333;
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  position: absolute;
  top: 5px;
  transition: 0.2s ease-out;
}

.header .menu-icon .nav-icon:after {
  background: #333;
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  position: absolute;
  top: -5px;
  transition: 0.2s ease-out;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 400px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background-color: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top: 0;
}

.container {
  margin-top: 150px;
}

.item {
  min-width: 100px;
  min-height: 100px;
  border: 1px solid grey;
  margin: 20px auto;
  box-shadow: 2px 2px 10px grey;
  border-radius: 5px;
  text-align: center;
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.6;
  cursor: pointer;
  overflow: hidden;
}

.item1 {
  width: 90%;
  min-height: 210px;
  background-image: url(img/homebanner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: table;
  position: relative;
  animation: animate 40s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url(img/homebanner.png);
  }
  20% {
    background-image: url(img/companyfirm.jpg);
  }
  30% {
    background-image: url(img/fsai.jpg);
  }
  40% {
    background-image: url(img/IECSHIP.jpg);
  }
  50% {
    background-image: url(img/income.jpg);
  }
  60% {
    background-image: url(img/trademark.jpg);
  }
  70% {
    background-image: url(img/isi1.jpg);
  }
  80% {
    background-image: url(img/iso.jpg);
  }
}

.item2 {
  max-width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(img/oneinall1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item2:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item2 .inside {
  margin: 0 auto;
  font: 12px;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item2:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item3 {
  max-width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(img/homepage1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  font-size: 12px;

  transition: 0.2s ease-out;
  font-size: 10px;
}

.item3:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item3 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item3:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item4 {
  max-width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(img/gst-1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item4:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item4 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item4:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item5 {
  max-width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(img/companyfirm.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item5:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item5 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item5:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item6 {
  max-width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 50%;
  background-image: url(img/fsai1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item6:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item6 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
  text-align: center;
}

.item6:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item7 {
  max-width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
  border-radius: 50%;
  background-image: url(img/isi1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item7:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item7 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item7:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item8 {
  max-width: 100px;
  height: 100px;
  float: left;
  margin-left: 50px;
  border-radius: 50%;
  background-image: url(img/export.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}

.item8:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item8 .inside {
  margin: 0 auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item8:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

.item9 {
  max-width: 100px;
  height: 100px;
  float: right;
  margin-right: 50px;
  border-radius: 50%;
  background-image: url(img/iso1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  transition: 0.2s ease-out;
  font-size: 8px;
}
.item9:hover {
  transform: scaleY(0);
  transform: scale(1.2);
  background: black;
  border: 2px solid yellow;
}

.item9 .inside {
  margin: 10px auto;
  background: black;
  position: absolute;
  transform: scaleY(0);
  transition: 0.5s ease-out;
}

.item9:hover .inside {
  transform: scaleY(1);
  color: yellow;
}

@media (min-width: 920px) {
  .item {
    min-width: 250px;
    min-height: 140px;
    border: 1px solid grey;
    margin: 20px auto;
    box-shadow: 2px 2px 10px grey;
    border-radius: 5px;
    text-align: center;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
  }
  .container {
    max-width: 1000px;
    margin: 130px auto 0;
  }
  .item1 {
    margin: 0 auto;
    width: 52%;
    min-height: 300px;
    background-image: url(img/homepage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    display: table;
    position: relative;
    margin-top: 40px;
  }
  .item2 {
    max-width: 200px;
    max-height: 150px;
    float: left;
    margin-top: -300px;
    margin-left: -30px;
    background-image: url(img/oneinall1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  .item2:hover {
    transform: scale(1.1);
  }

  .item3 {
    background-image: url(img/homepage1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 18%;
    height: 100px;
    float: right;
    margin-top: -300px;
    margin-right: -30px;
  }
  .item3:hover {
    transform: scale(1.1);
  }
  .item4 {
    float: left;
    margin-top: -140px;
    margin-left: -30px;
  }
  .item4:hover {
    transform: scale(1.1);
  }
  .item5 {
    background-image: url(img/companyfirm.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    float: right;
    margin-top: -140px;
    margin-right: -30px;
  }
  .item5:hover {
    transform: scale(1.1);
  }
  .item6 {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    float: left;
    margin-top: 5px;
    margin-left: -250px;
    margin-top: 20px;
  }
  .item6:hover {
    transform: scale(1.1);
  }
  .item7 {
    max-width: 250px;
    min-height: 140px;
    float: right;
    margin-top: 20px;
    margin-right: 20px;
  }
  .item7:hover {
    transform: scale(1.1);
  }
  .item8 {
    max-width: 250px;
    min-height: 140px;
    float: left;
    margin-top: 20px;
    margin-left: 23px;
  }
  .item8:hover {
    transform: scale(1.1);
  }
  .item9 {
    max-width: 250px;
    min-height: 140px;
    float: right;
    margin-top: -160px;
    margin-right: -30px;
  }
  .item9:hover {
    transform: scale(1.1);
  }
}
@media (min-width: 768px) {
  .header li {
    max-width: 100%;
    line-height: 40px;
    float: left;
  }
  .header li a {
    padding: 10px 15px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 20px;
  }
  .header .menu-icon {
    display: none;
  }
  .headup {
    text-align: center;
    font-size: 14px;
  }
  .header .logo {
    margin-left: 20px;
  }
  .call {
    display: block;
    float: right;
    margin-right: 20px;
  }
}

.footersec {
  margin-top: 60px;
  display: flex;
  width: 100%;
  background: #22076d;
  justify-items: center;
  justify-content: center;
}

.footersec1 {
  display: flex;
  width: 100%;
  background: #22076d;
  justify-content: center;
}

.company-details {
  margin: 10px;
  width: 100%;
  color: #fff;
}

@media (min-width: 920px) {
  .footersec {
    margin-top: 140px;
  }
  .company-details {
    margin-left: 100px;
    width: 100%;
    color: #fff;
  }
}

.company-details a {
  margin: 10px;
  padding: 10px 0;
  font-size: 14px;
  color: white;
}

.Certificate {
  margin: 10px;
  width: 100%;
  color: #fff;
}

.Certificate a {
  margin: 10px;
  padding: 10px 0;
  font-size: 14px;
  color: white;
}

.single-Certificate {
  margin: 10px;
  width: 100%;
  color: #fff;
}

.single-Certificate a {
  margin: 10px;
  padding: 10px 0;
  font-size: 14px;
  color: white;
}
